@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yekanBakh-Regular;

  src: url('../src/fonts/YekanBakhFaNum-Regular.woff') format("woff");
}

@font-face {
  font-family: yekanBakh-Bold;

  src: url('../src/fonts/YekanBakhFaNum-Bold.woff') format("woff");
}
@font-face {
  font-family: Peyda-Regular;

  src: url('../src/fonts/Peyda-Regular.ttf') format("trueType");
}
@font-face {
  font-family: Peyda-Bold;

  src: url('../src/fonts/Peyda-Bold.ttf') format("trueType");
}
@font-face {
  font-family: Montserrat-Regular;

  src: url('../src/fonts/Montserrat-Regular.ttf') format("trueType");
}
@font-face {
  font-family: Montserrat-Bold;

  src: url('../src/fonts/Montserrat-Bold.ttf') format("trueType");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: yekanBakh-Regular;
  user-select: none;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}
.text-nowrap{
  text-wrap: nowrap;
}
.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.transition {
  @apply transition-all duration-300;
}

header ul li.active::after,
header ul li.active {
  opacity: 100%;
}

header ul li.active::after {
  bottom: -12px;
}

.bg-blur {
  background-color: rgba(255, 255, 255, 0.91);
  backdrop-filter: blur(4px);
}
.bg-blur2 {
  background-color: #FFFFFF0F;
  backdrop-filter: blur(4px);
}
.bg-blur3{
  background-color: #FFFFFF36;
  backdrop-filter: blur(4px);
}
#hamIcon.active svg:last-child{
  display: block;
}
#hamIcon.active svg:first-child{
  display: none;
}
.mobileMenu{
  transition: all .4s;
  opacity: 0;
  visibility: hidden;
}
.mobileMenu.active{
  visibility: visible;
  opacity: 100%;
}
.dropdownBtn .arrowSvg.active,
.dropdownBtn2 .arrowSvg.active {
  transform: rotate(0);
}

.dropdownContent,
.dropdownContent2,
.dropdown {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
}

.dropdownContent.active,.dropdownContent2.active {
  max-height: 2000px;
  margin-top: 18px;
  overflow: hidden;
}

.dropdown {
  padding-left: 12px;
  padding-right: 12px;
}

.dropdown.active {
  max-height: 2000px;
  margin-top: 18px;
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
}

.dropdown.actie {
  display: grid !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* editor section */
.editorSection ul {
  @apply rtl:mr-4 ltr:ml-4 rtl:pr-6 ltr:pl-6;
}
.editorSection ul li::before {
  content: url('../src/img/svg/Vector6.svg');
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -34px;
}
.editorSection ul li::before {
  @apply rtl:-right-[34px] ltr:-left-[34px]
}
/* lang dropdown */
.langDropdown {
  transition: all .4s;
  opacity: 0;
  visibility: hidden;
}
.langDropdown.active {
  opacity: 100%;
  visibility: visible;
}
/* select color */
.colors > div.active{
  border: 1px solid #C7C6C6;
}
.colors > div.active img{
  opacity: 100%;
}
/* acordion */
.acordionBtn img{
  transition: all .4s;
}
.acordionBtn img.active{
  transform: rotate(180deg);
}
.acordionBtn .arrow.active{
  background-color: #E8E8E8;
}
.acordionContent,.allContent{
  max-height: 0;
  overflow: hidden;
}
.acordionContent.active,.allContent.active{
  max-height: 2000px;
}
/* tab */
.tabContent > div{
  display: none;
  animation: in 1s;
  transform-origin: top left;
}
.tabContent > div.active{
  display: block;
}

@keyframes in {
  0% {
      opacity: 0;
      transform: rotateX(-90deg)
  }
  100% {
      opacity: 1;
      transform: rotateX(0deg)
  }
}
/* sidebar */
.sidebar ul li a.active{
  color: white;
}
.sidebar ul li a.active img:first-child{
  opacity: 100%;
  visibility: visible;
  right: -24px;
}
.sidebar ul li a.active svg path{
  fill: white;
  stroke: white;
}
/* swiper */
.banner .swiper-button-next::after,
.banner .swiper-button-prev::after {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.banner .swiper-pagination-bullet {
  width: 8px !important;
  height: 26px !important;
  background-color: #D9D9D9 !important;
  border-radius: 15px !important;
  transition: all .4s;
  opacity: 100%;
}

.banner .swiper-pagination-bullet-active {
  height: 34px !important;
  background-color: #4F24FF !important;
}

.suggestion .swiper-pagination-bullet,.customer .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #DEDEDE !important;
  border-radius: 100% !important;
  transition: all .4s;
  opacity: 100%;
}

.suggestion .swiper-pagination-bullet-active,.customer .swiper-pagination-bullet-active {
  width: 43px !important;
  background-color: #4F24FF !important;
  border-radius: 10px !important;
}
.suggestion .swiper-button-prev::after,.customer .swiper-button-prev::after {
  color: white!important;
  font-size: 9px!important;
}
.solution .swiper-pagination-bullet,
.work .swiper-pagination-bullet,
.karbordBox .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #FFFFFF80 !important;
  border-radius: 100% !important;
  transition: all .4s;
  opacity: 100%;
}

.solution .swiper-pagination-bullet-active,
.work .swiper-pagination-bullet-active,
.karbordBox .swiper-pagination-bullet-active {
  width: 43px !important;
  background-color: white !important;
  border-radius: 10px !important;
}
.mySwiper .swiper-slide {
  opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.mySwiper .swiper-slide-thumb-active > div {
  border: 1px solid #E6E6E6;
}
.tabs .swiper-slide:hover,
.tabs .swiper-slide.active{
  color: #FF6F1D;
}
.tabs .swiper-slide.active img,
.tabs .swiper-slide.active div{
  opacity: 100%;
}
/* hover */
.btnHover {
  position: relative;
  transition: all .4s;
  overflow: hidden;
}

.btnHover::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.btnHover:hover::before {
  animation: shine 1.5s ease-out infinite;
}
.svg-main-hover > a > div > svg path {
  transition: all .3s;
}
.svg-main-hover:hover > a > div > svg path {
  fill: #4F24FF;
}
.svg-main-hover:hover > a > img {
  opacity: 100%;
}
.dropdown2-hover > div {
 opacity: 0;
}
.dropdown2-hover:hover > div {
  @apply rtl:right-[271px] ltr:left-[271px] opacity-100 visible;
}
@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.shadow-header {
  box-shadow: 0px 12px 32px 0px #00000012;
}

.shadow-1 {
  box-shadow: 0px 9px 31px 0px #FF6F1D57;
}
.shadow-2 {
  box-shadow: 0px 12px 32px 0px #00000012;
}
.shadow-3{
box-shadow: 0px 5px 5px 0px #4F24FF2B;
}
.shadow-4{
  box-shadow: 0px 12px 56px 0px #0000000F;
}
.shadow-5{
  box-shadow: 0px 10px 60px 0px #4F24FF69;
}
.shadow-next{
  box-shadow: -2px 0px 24px 0px #0000001A;
}
.bg-main-gradient-hover:hover > a{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(79, 36, 255, 0.1) 100%);
}
.bg-moshavere {
  background-image: url('../src/img/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-customer {
  background-image: url('../src/img/Group 4998.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 640px) {
  
.banner .swiper-pagination-bullet {
  width: 3px !important;
  height: 9px !important;
  margin: 0 3px!important;
}

.banner .swiper-pagination-bullet-active {
  height: 12px !important;
}

}
@media only screen and (max-width: 628px) {
  .solution .swiper-pagination-bullet,.work .swiper-pagination-bullet {
    width: 4px !important;
    height: 4px !important;
  }
  
  .solution .swiper-pagination-bullet-active,.work .swiper-pagination-bullet-active {
    width: 18px !important;
  }
}